
h1 {
    text-align: center;
    color: #bb69f1;
}

body {
    font-family: Arial, sans-serif;
    background-color: #420a53;
}

li {
    background-color: #fff;
    border: 1px solid #f51bb4;
   
}

h2 {
    font-size: 1.25rem;
    color: #173ee9;
    margin: 8px 0;
}

p {
    color: #eceef3;
    margin: 8px 0;
}

p:last-of-type {
    font-weight: bold;
    color: #080101;
}

